# Created by .ignore support plugin (hsz.mobi)
*.pdb
*.mol2
*.conf
*.log
*.pyc
.vscode
.idea
Results*
!/Protein.mol2
!/Ligand.mol2
!/Molecule.mol2
!/api_gold_UI.conf
!/PZ_II_028_A1_B1_24_clean.mol2
!/Docking_script_1.py
!/Docking_master.py